*{
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
}
.navparent{
   /* border: 1px solid black; */
   display: flex;
   justify-content: space-between;
   padding: 10px;
   position: sticky;
   top: 0px;
   background-color: crimson;
   color: white;
}
.feedcomponent {
    margin-top: 100px;
    position: fixed;
    top: 80vh;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: crimson;
    color: white;
}
.contentcomponent{
  /* border: 1px solid black; */
  margin-top: 5px;
  overflow-x: hidden;
  background-color: rgb(235, 238, 238);
}
.ctnheader{
    display: flex;
    width: inherit;
}
/* .ctnheader *{
    border: 1px solid black;
} */
.psimg{
    width: 99.53vw;
}
.child1{
    margin: 10px;
}
.child2{
    margin-top: 10px;
    height: 40px;
    padding: 7px;
}
.text{
    /* border: 1px solid black; */
    padding: 5px;
}
.text p{
    margin-left: 10px;
}
.ctnbtn{
    display: flex;
    justify-content: space-between;
}
.ctnbtn p{
    margin: 10px;
}
.ps1{
    height: 60px;
    width: 60px;
    object-fit:contain;
    border-radius: 50%;
}
.ta{
    margin-top: 6px;
}
span{
    color: red;
}