*{
  margin: 0px;
  padding: 0px;
}

.layout{
   /* border: 1px solid black; */
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.layout {
    /* border: 1px solid black; */
}
.form{
   padding: 30px;
}
.htxt{
    /* border: 1px solid black; */
    font-size: 40px;
}
.labels{
    margin-top: 20px;
}
.htxt-2{
    /* border: 1px solid black; */
    color: darkgrey;
    
}
.image{
    background-color:#00b4d8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.txt{
    font-size: 50px;
    color: white;
}
.anim{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    width: 300px;
}
.txtres{
    font-size: 40px;
}
.feed{
display: grid;
justify-content: center;
}
.feed *{
    border: 1px solid black;
}
@media only screen  and (max-width: 600px) {
    .btn{
        width: 300px;
    }
    .txt{
        display: none;
    }
    .htxt{
        font-size: 30px;
        display: unset;
        
    }
    .htxt-2{
        /* border: 1px solid black; */
        color: darkgrey;
        display: unset;
    }
    .heading{
        display: flex;
        flex-direction: column;
    }
    .txtres{
        font-size:20px;
        text-align: center;
    }
    .layout{
        /* border: 1px solid black; */
        display: grid;
        grid-template-columns: 1fr;
    }
    .icon{
        width: 300px;
    }

  }